<%= form_for @visitor, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :student, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :student, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reason, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :reason, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary btn-large' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                "/", :class => 'btn btn-large' %>
  </div>
<% end %>

