<%= form_for @student_check_out, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :parent, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :parent, :class => 'text_field', :autofocus => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :student, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :student, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :grade, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :grade, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :teacher, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :teacher, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit", :class => 'btn btn-primary btn-large' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                "/", :class => 'btn btn-large' %>
  </div>
<% end %>
