<%- model_class = HisdEmployee.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table id="hisd" class="table table-striped">
  <thead>
    <tr>
      <!-- <th><%= model_class.human_attribute_name(:id) %></th> -->
      <th><%= model_class.human_attribute_name("Date") %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name("Employee ID") %></th>
      <th><%= model_class.human_attribute_name(:reason) %></th>
      
      <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
    </tr>
  </thead>
  <tbody>
    <% @hisd_employees.each do |hisd_employee| %>
      <tr>
        <!-- <td><%= link_to hisd_employee.id, hisd_employee_path(hisd_employee) %></td> -->
        <td><%= l hisd_employee.created_at.localtime, :format => :long %></td>
        <td><%= hisd_employee.name %></td>
        <td><%= hisd_employee.employee_id %></td>
        <td><%= hisd_employee.reason %></td>
        
        <!-- <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_hisd_employee_path(hisd_employee), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      hisd_employee_path(hisd_employee),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<!-- 
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_hisd_employee_path,
            :class => 'btn btn-primary' %> -->
